<h1>New outcome</h1>

    <%= form_for :outcome, url: outcomes_path do |f| %>
  	<p>
    	<%= f.label :winner %><br>
    	<%= f.text_field :winner %>
    </p>
 
	<p>
    	<%= f.label :loser %><br>
    	<%= f.text_field :loser %>
	</p>
  
	<p>
    	<%= f.submit %>
	</p>
<% end %>